*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}


.head{
    width: 100vw;
    height: 48px;
    display: grid;
    grid-template-columns: 46.59px 43.47px auto 45px 45px 48px 48px;
    justify-items: center;
    align-items: center;
    font-size: 14px;
    padding: 5px;

}

.item_a{
    margin: 3px;
    text-align: center;
    text-decoration: none;
}

.item_b{
    margin: 3px;
    text-align: center;
    text-decoration: none;
}

.item_c{
    grid-column-start: 4;
    grid-column-end: 5;
    margin: 3px;
    text-align: center;
    text-decoration: none;
}

.item_d{
    grid-column-start: 5;
    grid-column-end: 6;
    margin: 3px;
    text-align: center;
    text-decoration: none;
}

.item_e{
    grid-column-start: 6;
    grid-column-end: 7;
    margin: 3px;
    text-align: center;
    text-decoration: none;
}

.item_f{
    grid-column-start: 7;
    grid-column-end: 8;
    margin: 3px;
    text-align: center;
    text-decoration: none;
}

.Google_Logo{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 165px;
    margin: 5px;
}

.Google_Logo img{
    height: 100%;
    width: 375px;
    padding: 5px;
    justify-self: center;
    align-self: center;
}

@media screen and (max-device-width:320px) {
    
    .Google_Logo img{
        width: 80vw;
        height: 30vw;
        justify-self: center;
        align-self: center;

    }

    input{
        width: 50vw;
        height:10vw;
        justify-self: center;
        align-self: center;
    }

    footer{
        width: 80vw;
    }

    .Search_button{
        width: 20vw;
        justify-self: center;
        align-self: center;
    }

}

.Search-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 584px;
    grid-template-rows: 46px;
    justify-content: center;
}

.Search_button{
    margin: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: 127px;
    grid-template-rows: 26px;
    justify-content: center;
}

.Empty_Box{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px;
}

footer{
    width: 100vw;
    height: 48px;
    display: grid;
    grid-template-columns: 100px 87px 147px auto 76px 69px 81px;
    grid-template-rows: 48px;
}

.part_1{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.part_2{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.part_3{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.part_4{
    grid-column-start: 5;
    grid-column-end: 6;
    text-align: center;
}

.part_5{
    grid-column-start: 6;
    grid-column-end: 7;
    text-align: center;
}

.part_6{
    grid-column-start: 7;
    grid-column-end: 8;
    text-align: center;
}
